.header-items{
    background-color: rgb(85, 20, 146);
    top: 0;
    margin-top: 0;
    text-align: center;
    position: sticky;
}

.item{
    color: aliceblue;
    display: inline-block;
    padding-right: 50px;
   text-decoration: none;

}